<div id="content" class="bg-white rounded-lg shadow-md p-6">
    <h2 class="text-xl font-semibold text-gray-700 mb-6">Transaction Status</h2>
    <div class="mb-6">
        <div class="flex items-center justify-center mb-4">
            <svg
                class="w-16 h-16 {{ svg_class }}"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="{{ svg_path }}"></path>
            </svg>
        </div>
        <p class="text-center text-lg font-medium text-gray-700">{{ message }}</p>
    </div>
    <div class="space-y-4">
        <div class="flex justify-between">
            <span class="text-sm text-gray-500">Amount</span>
            <span class="text-sm font-medium text-gray-700">{{ amount }}</span>
        </div>
        <div class="flex justify-between">
            <span class="text-sm text-gray-500">Recipient</span>
            <!-- <span class="text-sm font-medium text-gray-700">{{ recipient }}</span> -->
            <span class="text-sm font-medium text-gray-700 inline-block max-w-full break-words">{{ recipient }}</span>
        </div>
        <div class="flex justify-between">
            <span class="text-sm text-gray-500">Transaction ID</span>
            <span class="text-sm font-medium text-gray-700 m-2 inline-block max-w-full break-words">{{ txHash }}</span>
        </div>
    </div>
    <p></p>
    <div class="flex justify-between">
        <button
            type="button"
            class="bg-gray-200 hover:bg-gray-300 text-gray-800 font-bold py-2 px-4 rounded-full flex-1 mr-2"
            hx-get="/home"
            hx-target="#content"
            hx-swap="outerHTML">
            Home
        </button>
        <button
            type="button"
            class="bg-gradient-to-br from-purple-500 to-indigo-600 hover:from-purple-600 hover:to-indigo-700 text-white font-bold
                py-2 px-4 rounded-full flex-1 ml-2"
            hx-get="/home"
            hx-target="#content"
            hx-swap="outerHTML">
            Done
        </button>
    </div>
</div>